/*=================GENERAL=================*/
html, body {
  box-sizing: border-box;
  font-size: 1.3em;
  font-family: 'Roboto', sans-serif;
}

html {
  position: relative;
  min-height: 100%;
  background: url(/images/congruent_pentagon.png);
  /*background-color: #d0ffde;*/
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 70%;
}

*:focus {
  outline: none;
}

/*===============FONT CLASSES==============*/
.roboto {
  font-family: 'Roboto', sans-serif;
}

.anton {
  font-family: 'Anton', sans-serif;
}

/*================HOME LOGO================*/
#logo-container {
  position: relative;
}

#home-icon {
  height: 64px;
  width: 64px;
}

#coffee-word, #bomb-word {
  /*position: absolute;*/
  font-weight: bold;
  top: -16px;
}

#coffee-word {
  color: #75edd1;
  left: 64px;
}

#bomb-word {
  color: #ff5166;
  left: 155px;
}

/*===========ABOVE AND BELOW PAGE===========*/
#topbar-container {
  align-items: center;
  position: relative;
  /*background: url('images/diagmonds.png');*/
  background-color: rgba(231,255,193,0.8);
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
}

#topbar-container > li > a:hover {
  color: #ff5166;
  border: 0;
}

/*TODO Space Login/user links to the right of screen*/
#nav-items-container {
  position: relative;
  background: url('/images/escheresque_ste.png');
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  box-shadow: 0 3px 1px #231c18;
  z-index: 10;
}

#nav-bar {
  width: 100%;
}

.nav-item, .topbar-item {
  font-weight: 200;
  font-size: .85em;
  padding: 2px;
  margin: 3px 5px;
}

.nav-item:hover {
  margin: 2px 5px;
  border-top: 1px solid #d15b31;
  border-bottom: 1px solid #d15b31;

}

#logout-btn:hover {
  color: #ff5166;
  border-radius: 0;
}

#logout-btn {
  position: absolute;
  top: -25px;
  left: -2px;
  color: #0ca2a4;
  background-color: transparent;
  font-size: .9em;
  font-weight: 300;
  border: none;
}

#nav-separator {
  color: #64cfb7;
}

#logout-form {
  position: relative;
}

.title-div {
  /*background: url('/images/arches.png');*/
  background-color: #1d2123;
}

#title-div-bg {
  display: flex;
  height: 100%;
  background: linear-gradient(to right, rgba(201, 255, 221, 0.5), rgba(255,255,255,0));
  align-items: center;
  border-bottom: 2px dashed #ffffff;
}

#title-div-bg > h1, #post-owner-name {
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(231,255,193);
  margin-left: 25px;
  text-shadow: 2px 2px 2px #000;
}

#footer {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  min-height: 10%;
  min-width: 100%;
  color: #ffffff;
  background-color: #1d2123;
  overflow: auto;
}

/*=================LINKS===================*/
li > a {
  box-sizing: border-box;
  font-size: 1em;
}

li > a:link {
  color: #0ca2a4;
  text-decoration: none;
}

li > a:visited {
  color: #0ca2a4;
  text-decoration: none;
}

h2 > a:link {
  color: #eaffff;
  text-decoration: none;
}

h2 > a:visited {
  color: #eaffff;
}

div > a {
  text-decoration: none;
  color: #eaffff;
}

div > a:visited {
  color: #eaffff;
}

div > a:hover {
}

/*TODO Fix left margin of h3 element featuring post-owner's name*/
#post-owner-name {
  display: inline;
  margin-top: 0;
  background: url('images/escheresque_ste.png');
  box-shadow: 0 3px 1px #231c18;
}

#post-owner-name > a {
  text-decoration: none;
}

#post-owner-name > a:link {
  color: #ff5166;
}

#post-owner-name > a:visited {
  color: #ff5166;
}

/*=================POSTS===================*/
.post-tile {
  position: relative;
  box-sizing: border-box;
  margin: 4px;
  border-radius: 3px;
  border-style: outset;
  border-width: 1px;
  font-weight: lighter;
  color: #0ca2a4;
  text-align: center;
  padding: 5px;
  background-color: #231c18;
  /*background: url('images/escheresque_ste.png');*/
  max-width: 33%;
}

.post-title {
  text-decoration: none;
  color: #d6fffd;
}

.post-title:hover {
  text-shadow: 2px 2px 1px #065051;
  color: rgb(231,255,193);
}

.post-tile:hover {
  color: #0fcdd0;
  background-color: rgba(35 28 24 0.5);
}

#post-body {

}

.comment {

}

.owner-container {
  position: relative;
}

.post-owner {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.post-owner:hover {
  color: #ff5166;
  text-shadow: 2px 2px 1px #065051;
}

#number-request-container {
  margin: 5px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#focus-container {
  margin: 0 auto;
}

/*================FORMS STUFF===============*/
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.form {
  max-width: 50%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 5px auto;
  color: #231c18;
  font-size: 1em;
}

.form-input:focus {
  background-color: #cffff8;
}

.outset {
  border-style: groove;
}

.inset {
  border-style: inset;
}

.rounded {
  border-radius: 4px;
}