/*=================GENERAL=================*/
html, body {
  box-sizing: border-box;
  font-size: 1.3em;
  font-family: 'Slim-Joe', sans-serif;
}

@font-face {
  src: url('images/slim-joe.otf');
  font-family: 'Slim-Joe';
}


html {
  position: relative;
  min-height: 100%;
  background: url(/images/congruent_pentagon.png);
  background-attachment: fixed;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 0 100px 0;
}

*:focus {
  outline: none;
}

/*===============FONT CLASSES==============*/
.roboto {
  font-family: 'Roboto', sans-serif;
}

.anton {
  font-family: 'Anton', sans-serif;
}

/*================HOME LOGO================*/
#logo-container {
  position: relative;
}

#home-icon {
  height: 64px;
  width: 64px;
}

#coffee-word, #bomb-word {
  text-shadow: 2px 1px 1px #ff5166;
  position: absolute;
  /*font-weight: bold;*/
  top: -16px;
}

#coffee-word {
  color: #75edd1;
  left: 64px;
}

#bomb-word {
  color: #E7FFC1;
  left: 130px;
}

/*===========ABOVE AND BELOW PAGE===========*/
#topbar-container {
  font-size: .7em;
  max-width: 100%;
  align-items: center;
  position: relative;
  background: url('images/diagmonds.png');
  background-color: rgba(231, 255, 193, 0.8);
  margin: 0;
  display: flex;
  flex-direction: row;
  padding: 0;
  border-bottom: 1px solid #E7FFC1;
}

#topbar-list-left, #topbar-list-right {
  margin: 5px 5px;
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

#topbar-list-right {
  position: absolute;
  right: 40px;
  width: 200px;
}

.topbar-item-right {
  position: absolute;
  right: 0px;
}

#topbar-container > ul > li > a:hover {
  color: #ff5166;
  border: 0;
}

/*TODO Space Login/user links to the right of screen*/
#nav-items-container {
  position: relative;
  background: url('/images/escheresque_ste.png');
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  box-shadow: 0 3px 1px #231c18;
  z-index: 10;
}

#nav-items-container > li > a:hover {
  color: #ff5166;
}

#nav-bar {
  width: 100%;
}

.nav-item, .topbar-item {
  font-weight: 200;
  font-size: .85em;
  padding: 2px;
  margin: 3px 5px;
}

#logout-btn:hover {
  color: #ff5166;
  border-radius: 0;
}

#logout-btn {
  position: absolute;
  top: -10px;
  left: -2px;
  color: #0ca2a4;
  background-color: transparent;
  font-size: 1em;
  font-weight: 300;
  border: none;
  margin-left: 0;
}

#nav-separator {
  color: #64cfb7;
}

#logout-form {
  position: relative;
}

.title-div {
  /*background: url('/images/arches.png');*/
  background-color: #1d2123;
}

#title-div-bg {
  display: flex;
  height: 100%;
  background: linear-gradient(to right, rgba(201, 255, 221, 0.5), rgba(255,255,255,0));
  align-items: center;
  border-bottom: 2px dashed #ffffff;
}

#title-div-bg > h1, #post-owner-name {
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(231,255,193);
  /*margin-left: 25px;*/
  text-shadow: 2px 2px 2px #000;
  padding: 5px;
}

.content-container {
  overflow: auto;
}

#footer {
  padding: 5px;
  position: fixed;
  bottom: 0;
  min-height: 100px;
  min-width: 100%;
  color: #ffffff;
  background-color: #1d2123;
  clear: both;
}

/*=================LINKS===================*/
li > a {
  box-sizing: border-box;
  font-size: 1em;
}

li > a:link {
  color: #0ca2a4;
  text-decoration: none;
}

li > a:visited {
  color: #0ca2a4;
  text-decoration: none;
}

h2 > a:link {
  color: #eaffff;
  text-decoration: none;
}

h2 > a:visited {
  color: #eaffff;
}

div > a {
  text-decoration: none;
  color: #eaffff;
}

div > a:visited {
  color: #eaffff;
}

div > a:hover {
}

/*TODO Fix left margin of h3 element featuring post-owner's name*/
#post-owner-name {
  display: inline;
  margin-top: 0;
  background: url('images/escheresque_ste.png');
  box-shadow: 0 3px 1px #231c18;
}

#post-owner-name > a {
  text-decoration: none;
}

#post-owner-name > a:link {
  color: #ff5166;
}

#post-owner-name > a:visited {
  color: #ff5166;
}

/*=================POSTS===================*/
.post-tile {
  position: relative;
  box-sizing: border-box;
  margin: 4px auto;
  border-radius: 3px;
  border-style: outset;
  border-width: 1px;
  font-weight: lighter;
  color: #0ca2a4;
  text-align: center;
  padding: 5px;
  background-color: #231c18;
  display: flex;
  flex-direction: row;
  max-width: 50%;
}

.post-title {
  text-decoration: none;
  color: #d6fffd;
  margin: 0 auto;
}

.post-title:hover {
  text-shadow: 2px 2px 1px #065051;
  color: rgb(231,255,193);
}

.post-tile:hover {
  color: #0fcdd0;
  background-color: rgba(35 28 24 0.5);
}

#post-content {
  position: relative;
  border: 2px solid #1d2123;
  padding: 5px;
  background-color: rgba(255,255,255,0.6);
  margin: 10px;
}

#post-body {
  font-size: .8em;
  margin-top: 0;
}

.post-title-timestamp {
  font-size: .5em;
}

.owner-container {
  position: relative;
}

.post-owner {
}

.post-owner:hover {
  color: #ff5166;
  text-shadow: 2px 2px 1px #065051;
}

#number-request-container {
  margin: 5px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#focus-container {
  margin: 0 auto;
}

/*================COMMENTS==================*/
#comments-container {
  background: url('images/diagmonds.png');
  margin: 10px;
  margin-top: 0px;
}

#comment-submit-container {
  background: linear-gradient(to right, rgba(201, 255, 221, 0.8), rgba(255,255,255,0));
}

#comment-submit-bg {
  border: 2px solid #1d2123;
  margin: 10px 10px 0 10px;
  background-color: rgba(29, 33, 25, 0.8);
}

#comment-submit-form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

#comment-submit-btn {
  width: 30%;
  margin: 10px;
}

.comment-entry {
  margin: 10px;
  resize: none;
  font-size: .8em;
}

.comment {
  background-color: #ffffff;
  padding: 5px;
  margin: 5px;
}

.comment-body {
  font-size: .9em;
  margin-top: 0;
}

.comment-bottom-container {
  position: relative;
  display: flex;
  flex-direction: row;
}

.comment-delete-btn {
  position: absolute;
  right: 5px;
  top: -8px;
}

.user-button {
  border: none;
  font-size: .6em;
  background-color: #1d2123;
  color: #e7ffc1;
}

.user-button:hover {
  color: #ff5166;
}

.timestamp {
  font-weight: 100;
  padding: 3px;
  color: #1d2123;
  font-size: .6em;
}

/*================FORMS STUFF===============*/
.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
}

.form {
  max-width: 50%;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
}

.form-input {
  margin: 5px auto;
  color: #231c18;
  font-size: 1em;
}

.form-input:focus {
  background-color: #e7ffc1;
}

.outset {
  border-style: groove;
}

.inset {
  border-style: inset;
}

.rounded {
  border-radius: 4px;
}

.text-area {
  font-size: .8em;
  resize: none;
}

.user-submit-btn {
  background: url('images/diagmonds.png');
  color: #ffffff;
  font-size: 1em;
}

.user-submit-btn:hover {
  color: #e7ffc1;
  text-shadow: 2px 2px 1px #065051;
}