<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head('Create A Post')"></head>
<body>
<div th:replace="fragments/topbar :: top-bar"></div>
<div th:replace="fragments/navbar :: nav-bar"></div>
<div th:replace="fragments/titlediv:: titlediv('Create A Post')"></div>
  <div class="form-container">
    <form class="form" th:action="@{/posts/create}" th:method="post" th:object="${post}">

      <input class="form-input inset rounded" th:field="*{title}"/>

      <textarea rows="10" cols="50" class="text-area form-input inset rounded" th:field="*{body}"></textarea>

      <input class="user-submit-btn" type="submit" value="Submit"/>
    </form>
  </div>
</body>
<script th:replace="fragments/script :: script"></script>
</html>