<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head('View Post')">
</head>
<body>
  <div th:replace="fragments/topbar :: top-bar"></div>
  <div th:replace="fragments/navbar :: nav-bar"></div>
  <div th:replace="fragments/titlediv :: titlediv(${post.title})"></div>

  <!--<span id="post-owner-name">-->
    <span id="post-owner-name">By
      <a th:href="${'/user/' + post.owner.id + '/view'}" th:text="${post.owner.username}"></a>
    </span>
  <!--</span>-->

  <p th:text="${post.body}"></p>

  <div sec:authorize="isAuthenticated()">
    <form th:if="${#authentication.principal.id == post.owner.id}" th:action="${'/posts/' + post.id + '/delete'}" th:object="${post}" th:method="post">
    <button>Delete</button>
    </form>
  </div>


</body>
<script th:replace="fragments/script :: script"></script>
</html>