<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head('View Post')">
</head>
<body>
  <div th:replace="fragments/topbar :: top-bar"></div>
  <div th:replace="fragments/navbar :: nav-bar"></div>
  <div th:replace="fragments/titlediv :: titlediv(${post.title})"></div>

    <span id="post-owner-name">By
      <a th:href="${'/user/' + post.owner.id + '/view'}" th:text="${post.owner.username}"></a>
    </span>

  <div id="post-content">
    <p id="post-body" th:text="${post.body}"></p>

    <div th:if="${isPostOwner}">
      <form th:action="${'/posts/' + post.id + '/delete'}" th:object="${post}" th:method="post">
        <button class="user-button">Delete</button>
      </form>
    </div>
  </div>

  <div id="comment-submit-bg">
    <div id="comment-submit-container">
      <form id="comment-submit-form" sec:authorize="isAuthenticated()" th:method="post" th:action="${'/comments/' + post.id}" th:object="${comment}">
        <textarea class="comment-entry inset rounded" rows="7" cols="40" placeholder="Comment" th:field="*{body}"></textarea>
        <input id="comment-submit-btn" type="submit"/>
      </form>
    </div>
  </div>

  <div id="comments-container">
    <div th:each="comment : ${post.comments}" class="comment">
      <p class="comment-body" th:text="${comment.body}"></p>

      <div class="comment-bottom-container">
        <span class="timestamp" th:text="${comment.timestamp}"></span>
        <form class="comment-delete-btn" th:if="${isPostOwner}" th:action="${'/comments/' + comment.id + '/delete/' + post.id}" th:object="${comment}" th:method="post">
          <button class="user-button">Delete</button>
        </form>
      </div>
    </div>
  </div>

</body>
<script th:replace="fragments/script :: script"></script>
</html>