<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head('Posts')">
</head>
<body>
<div th:replace="fragments/topbar :: top-bar"></div>
<div th:replace="fragments/navbar :: nav-bar"></div>
<div th:replace="fragments/titlediv :: titlediv('Posts by ' + ${user.username})"></div>

<div th:each="post : ${user.posts}">
  <span th:text="${post.owner.username}"></span>
  <span th:text="${post.title}"></span>
  <span th:text="${post.body}"></span>
</div>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/script :: script"></script>
</html>