<div th:fragment="top-bar" id="topbar-container">
  <ul id="topbar-list-left">
    <!--TODO Fix alignment of these items-->
    <li class="topbar-item">
      <a href="/" id="logo-container">
        <img id="home-icon" th:src="@{/images/tea-cup.svg}" alt="Home"/>
        <span id="coffee-word" class="anton">COFFEE</span>
        <span id="bomb-word" class="anton">BOMB</span>
      </a>
    </li>
  </ul>
  <ul id="topbar-list-right">
    <li class="topbar-item" sec:authorize="isAuthenticated()">
      <a href="/profile" th:text="${#authentication.principal.username}"></a>
    </li>
    <li class="topbar-item" sec:authorize="!isAuthenticated()">
      <a href="/login">Log In</a>
    </li>
    <li id="nav-separator" class="topbar-item">|</li>
    <li class="topbar-item" sec:authorize="!isAuthenticated()">
      <a href="/register">Join Us!</a>
    </li>
    <li sec:authorize="isAuthenticated()" class="topbar-item">
      <form th:action="@{/logout}" th:method="post" id="logout-form">
        <button id="logout-btn">Logout</button>
      </form>
    </li>
  </ul>
</div>