<div th:fragment="top-bar">
  <ul id="topbar-container">
    <!--TODO Fix alignment of these items-->
    <li class="topbar-item">
      <a href="/" id="logo-container">
        <img id="home-icon" th:src="@{/images/tea-cup.svg}" alt="Home"/>
        <span id="coffee-word" class="anton">COFFEE</span>
        <span id="bomb-word" class="anton">BOMB</span>
      </a>
    </li>
    <li class="topbar-item" sec:authorize="isAuthenticated()">
      <a href="/profile">Profile</a>
    </li>
    <li class="topbar-item" sec:authorize="!isAuthenticated()">
      <a href="/login">Log In</a>
    </li>
    <li id="nav-separator">|</li>
    <li class="topbar-item" sec:authorize="!isAuthenticated()">
      <a href="/register">Join Us!</a>
    </li>
    <li sec:authorize="isAuthenticated()">
      <form th:action="@{/logout}" th:method="post" id="logout-form">
        <button id="logout-btn" style="margin-top: 8px">Logout</button>
      </form>
    </li>
  </ul>
</div>