<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Create A User')">
</head>
<body>
<div th:replace="fragments/topbar :: top-bar"></div>
<div th:replace="fragments/navbar :: nav-bar"></div>
<div th:replace="fragments/titlediv :: titlediv('Join Us')"></div>

  <div id="form-container">
    <form id="sign-up-form" th:action="@{/register}" th:method="post" th:object="${user}">
      <input class="inset rounded form-input" id="username" th:field="*{username}" placeholder="Username"/>

      <input class="inset rounded form-input" id="email" th:field="*{email}" placeholder="E-mail"/>

      <input class="inset rounded form-input" id="password" th:field="*{password}" placeholder="Password"/>
      <button>Sign Me Up!</button>
      <!--TODO Fix this button's styling-->
    </form>
  </div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/script :: script"></script>
</html>