<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Log In')">
</head>
<body>
  <div th:replace="fragments/topbar :: top-bar"></div>
  <div th:replace="fragments/navbar :: nav-bar"></div>
  <div th:replace="fragments/titlediv :: titlediv('Login')"></div>
  <div class="form-container">
    <form th:action="@{/login}" th:method="post" class="form">
      <input id="username" class="form-input inset rounded" name="username" type="text" placeholder="Username" />

      <input id="password" class="form-input inset rounded" name="password" type="password" placeholder="Password"/>

      <input type="submit" value="Log In" />
    </form>
  </div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/script :: script"></script>
</html>