<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Profile')">
</head>
<body>
  <div th:replace="fragments/topbar :: top-bar"></div>
  <div th:replace="fragments/navbar :: nav-bar"></div>
  <div th:replace="fragments/titlediv :: titlediv('Profile')"></div>

  <div id="upload-container">
    <div id="links">
      <img class="user-image-display" th:src="${user.imagePath}" th:if="${user.imagePath}"/>
      <img class="user-image-display" th:src="@{images/student.svg}" th:if="!${user.imagePath}"/>
    </div>
    <button class="image-upload-button" id="upload-button">Upload</button>

    <form th:action="${'/upload'}" th:method="post">
      <input th:type="hidden" id="imageUrl" name="imageUrl" />
      <button class="image-upload-button" th:text="Save"></button>
    </form>
    <form th:action="${'/image/delete'}" th:method="post">
      <button th:text="Delete"></button>
    </form>
  </div>

</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:replace="fragments/script :: script"></script>
</html>