<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/head :: head(${user.username + 's posts'})">
</head>
<body>
  <div th:replace="fragments/topbar :: top-bar"></div>
  <div th:replace="fragments/navbar :: nav-bar"></div>
  <div th:replace="fragments/titlediv :: titlediv(${user.username})"></div>

  <div class="content-container">
    <div class="post-tile" th:each="post : ${user.posts}">
      <span class="" th:text="${post.owner.username}"></span>
      <a class="post-title" th:href="${'/posts/' + post.id}" th:text="${post.title}"></a>
      <span class="post-title-timestamp" th:text="${post.timestamp}"></span>
    </div>
  </div>

</body>
<script th:replace="fragments/script :: script"></script>
</html>