@media only screen and (min-device-width : 320px) {
  html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    color: #fff;
  }

  html {
    background: url('../images/darkness.png');
    font-size: 1.7em;
  }

  body {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #landing-page-container {
    background-color: #1d2123;
    /*min-height: 100%;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #landing-page-contents {
    background-color: rgba(234, 255, 255, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }

  /*tippy-toppest nav ul*/
  #site-nav {
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }

  /*tippy-toppest nav li*/
  .site-nav {
    margin: 5px;
  }

  /*==========NAV BAR==========*/
  #nav-container {
    margin: 0;
    background-color: #231c18;
  }

  #nav-item-container {
    padding-left: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: none;
  }

  .nav-item {
    padding: 5px;
    border: 1px groove;
    border-radius: 8px;
    margin: 5px;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #d6fffd;
  }

  a:visited {
    color: #d6fffd;
  }

  a:hover {
    color: #ff5166;
  }

  /*==============GAMEBOY DESIGN==============*/

  .gameboy-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #gameboy {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    background-color: #d4d4d4;
    border: groove 2px #373e42;
    border-radius: 10px 10px 50px 10px;
  }

  #above-screen-container {
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }

  .red-blue-container {
    display: flex;
    flex-direction: column;
  }

  .red {
    border: 1px solid #981f34;
  }

  .blue {
    border: 1px solid blue;
  }

  .line {
    margin: 3px;
  }

  #above-screen-text {
    color: #d4d4d4;
    /*font-size: ;*/
  }

  #red-blue-container1 {
    width: 50%;
  }

  #red-blue-container2 {
    width: 60px;
  }

  #screen-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 650px;
    width: 90%;
    border: 1px #373e42 inset;
    background-color: #464e53;
    border-radius: 10px 10px 50px 10px;
    margin: 96px auto 0 auto;
  }

  #screen-wrapper {
    display: flex;
    justify-content: center;
  }

  #screen {
    margin: 0 auto;
    border: 1px solid black;
    background-color: #534b45;
    box-shadow: inset 0 0 10px #000000;
  }

  #buttons-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /*border: 1px solid red;*/
    height: 250px;
  }

  #a-b-button-container {
    position: absolute;
    right: -30px;
    display: flex;
    flex-direction: row;
    transform: rotate(-30deg);
    margin: 30px 20px;
    width: 150px;
    height: 80px;
    /*border: 1px solid green;*/
  }

  .gameboy-button {
    position: relative;
    background-color: #981f34;
    border-radius: 50%;
    border: 1px groove;
    width: 40px;
    height: 40px;
    margin: 10px;
  }

  .gameboy-btn-txt {
    color: #1a1a97;
    position: absolute;
    bottom: -20px;
    right: 17px;
  }

  #select-start-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 50%;
    bottom: 25%;
    width: 125px;
    height: 100px;
    /*border: 1px solid blue;*/
  }

  .button-text {
    position: absolute;
    bottom: -20px;
    right: -1px;
    color: #1a1a97;
  }

  #start-text {
    right: 3px;
  }

  .option-button {
    background-color: grey;
    position: relative;
    border: 2px groove grey;
    border-radius: 5px;
    transform: rotate(-30deg);
    margin: 4px 10px;
    height: 2px;
    width: 35px;
    font-size: .8em;
  }

  #options-speaker-container {
    display: flex;
    flex-direction: row;
  }

  #speaker-container {
    transform: rotate(-30deg);
    display: flex;
    flex-direction: row;
    width: 120px;
    height: 80px;
    position: absolute;
    bottom: 20px;
    right: -8px;
    /*border: 1px solid black;*/
  }

  .speaker-slit {
    border-radius: 10px;
    margin: 5px;
    height: 75%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    width: 6px;
    box-shadow:  inset 0 0 5px #231c18;
  }

  #d-pad {
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    width: 80px;
    height: 80px;
    /*border: 1px solid purple;*/
  }

  #d-pad::before {
    border-radius: 3px;
    content: " ";
    position: absolute;
    display: block;
    background-color: #1d2123;
    height: 18px;
    margin-top: -7px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }

  #d-pad::after {
    border-radius: 3px;
    content: " ";
    position: absolute;
    display: block;
    background-color: #1d2123;
    width: 18px;
    margin-left: -8px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }

  #brand-name {
    margin-left: 36px;
    margin-top: 5px;
    color: #1a1a97
  }

  #score {
    color: #fff;
    font-size: 1.5em;
  }
}
