/*==========PHONE SIZE==========*/
@media only screen and (min-device-width : 320px) {
  /*=================GENERAL=================*/
  html, body {
    box-sizing: border-box;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
  }

  @font-face {
    src: url('../images/Slim-Joe.otf');
    font-family: 'Slim-Joe';
  }

  html {
    position: relative;
    min-height: 100%;
    background-color: #f3f3e9;
  }

  body {
    display: flex;
    flex-direction: column;
    margin: 0 0 100px 0;
  }

  *:focus {
    outline: none;
  }

  #landing-page-container {
    z-index: 999;
    background-color: #1d2123;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #landing-page-contents {
    background-color: rgba(234, 255, 255, 0.5);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
  }

  /*tippy-toppest nav ul*/
  #site-nav {
    justify-content: center;
    width: 100%;
    padding: 0;
    display: flex;
    list-style-type: none;
    flex-direction: row;
  }

  /*tippy-toppest nav li*/
  .site-nav {
    display: inline;
    margin: 25px;
  }

  .site-nav > a {
    font-size: 1.15em;
  }


  /*===============FONT CLASSES==============*/
  .roboto {
    font-family: 'Roboto', sans-serif;
  }

  .slim-joe {
    font-family: 'Slim-Joe', 'sans-serif';
  }

  .anton {
    font-family: 'Anton', sans-serif;
  }

  /*================HOME LOGO================*/
  #logo-container {
    position: relative;
  }

  #home-icon {
    height: 64px;
    width: 64px;
  }

  #coffee-word, #bomb-word {
    font-size: 1.5em;
    text-shadow: 2px 1px 1px #ff5166;
    position: absolute;
    top: -16px;
  }

  #coffee-word {
    color: #75edd1;
    left: 64px;
  }

  #bomb-word {
    color: #E7FFC1;
    left: 200px;
  }

  /*===========ABOVE AND BELOW PAGE===========*/
  #topbar-container {
    font-size: .7em;
    font-weight: 600;
    max-width: 100%;
    align-items: center;
    position: relative;
    background-color: #64cfb7;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 0;
    z-index: 4;
  }

  #topbar-list-left {
    margin: 5px 5px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  #topbar-list-right {
    background-color: rgba(243, 243, 233, 0.9);
    z-index: 3;
    list-style-type: none;
    padding: 0;
    position: absolute;
    top: -100px;
    right: 40px;
  }

  .topbar-item-right {
    position: absolute;
    right: 0;
  }

  #site-nav > li > a:link {
    color: #f3f3e9;
  }

  #site-nav > li > a:visited {
    color: #f3f3e9;
    border: 0;
  }

  .dropdown {
    color: #ff5166;
    background-color: #f3f3e9;
  }

  #forum-hamburger {
    position: absolute;
    right: 15px;
    height: 2.6em;
  }

  #nav-items-container {
    position: relative;
    background-color: #f3f3e9;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    box-shadow: 0 3px 1px #231c18;
    z-index: 10;
  }

  #nav-items-container > li > a:hover {
    color: #ff5166;
  }

  #nav-bar {
    width: 100%;
  }

  .topbar-item {
    font-weight: 200;
    font-size: 1.5em;
    padding: 2px;
    margin: 3px 5px;
  }

  #logout-btn:hover {
    border-color: #b8ced6;
    border-radius: 0;
  }

  #logout-btn {
    position: relative;
    bottom: 5px;
    font-family: 'Roboto', sans-serif;
    color: #ff5166;
    background-color: transparent;
    font-size: 1em;
    border: none;
    margin-left: 0;
  }

  ul > .topbar-item:last-of-type {
  }

  #nav-separator {
    color: #64cfb7;
  }

  #logout-form {
    position: relative;
  }

  .title-div {
    display: none;
  }

  #title-div-bg {
    display: flex;
    height: 100%;
    background: linear-gradient(to right, rgba(201, 255, 221, 0.5), rgba(255, 255, 255, 0));
    align-items: center;
    border-bottom: 2px dashed #ffffff;
  }

  #title-div-bg > h1, #post-owner-name {
    font-weight: lighter;
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgb(231, 255, 193);
    text-shadow: 2px 2px 2px #000;
    padding: 5px;
  }

  .wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .content-container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
  }

  #footer {
    padding: 5px;
    position: fixed;
    bottom: 0;
    min-height: 100px;
    min-width: 100%;
    color: #ffffff;
    background-color: #1d2123;
    clear: both;
  }

  /*=================LINKS===================*/
  li > a {
    box-sizing: border-box;
    font-size: 1em;
    /*font-weight: bolder;*/
  }

  li > a:link {
    color: #ff5166;
    text-decoration: none;
  }

  #topbar-list-right > li > a:visited {
    color: #ff5166;
    text-decoration: none;
  }

  h2 > a:link {
    color: #eaffff;
    text-decoration: none;
  }

  h2 > a:visited {
    color: #eaffff;
  }

  div > a {
    text-decoration: none;
    color: #eaffff;
  }

  div > a:visited {
    color: #eaffff;
  }

  div > a:hover {

  }

  a.post-owner:link {
    color: #ff5166;
  }

  a.post-owner:visited {
    color: #ff5166;
  }

  a.post-title:link {
    color: #1d2123;
  }

  a.post-title:visited {
    color: #1d2123;
  }

  .post-body > a:link {
    color: #1d2123;
  }

  .post-body > a:visited {
    color: #1d2123;
  }

  .post-body > a:hover {
    color: #0ca2a4;
  }

  /*=================POSTS===================*/
  #post-owner-name {
    display: inline;
    margin-top: 0;
    background: url('../images/escheresque_ste.png');
    box-shadow: 0 3px 1px #231c18;
  }

  #post-owner-name > a {
    text-decoration: none;
  }

  #post-owner-name > a:link {
    color: #ff5166;
  }

  #post-owner-name > a:visited {
    color: #ff5166;
  }

  .post-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 6px 4px 6px 4px;
    border: 1px solid #9badb4;
    box-shadow: 0 2px #262729;
  }

  .post-tile {
    background-color: #f3f3e9;
    position: relative;
    box-sizing: border-box;
    margin: 4px 0;
    font-weight: lighter;
    color: #0ca2a4;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: row;
  }

  .post-tile-title {
    display: flex;
    flex-direction: row;
  }

  .post-title {
    text-decoration: none;
    color: #d6fffd;
    margin: 0 auto;
  }

  .post-title-timestamp {

  }

  .post-title:hover {
    text-shadow: 2px 2px 1px #ff5166;
    color: rgb(231, 255, 193);
  }

  .post-tile:hover {
    color: #0fcdd0;
    background-color: rgba(35 28 24 0.5);
  }

  #post-content {
    position: relative;
    border: 2px solid #1d2123;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
  }

  #post-body {
    font-size: 1em;
    margin-top: 0;
    padding: 5px;
    overflow-wrap: break-word;
    max-width: 100%;
    background-color: white;
  }

  .post-body-wrapper {
    position: relative;
  }

  .post-body {
    height: 50px;
    padding: 5px;
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 100%;
    background-color: white;
  }

  .gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 56px;
    width: 100%;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgb(255, 255, 255) 90%);
  }

  .post-body > a {
    overflow: hidden;
    z-index: 1;
    height: 50px;
    display: block;
  }

  .owner-container {
    position: relative;
  }

  .post-owner {
  }

  .post-owner:hover {
    color: #75edd1;
    text-shadow: 2px 2px 1px #ff5166;
  }

  #number-request-container {
    margin: 5px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  #focus-container {
    margin: 0 auto;
  }

  /*================COMMENTS==================*/
  #comments-container {
    background: url('../images/diagmonds.png');
    margin: 10px;
    margin-top: 0;
  }

  #comment-submit-container {
    background: linear-gradient(to right, rgba(201, 255, 221, 0.8), rgba(255, 255, 255, 0));
  }

  #comment-submit-bg {
    border: 2px solid #1d2123;
    margin: 10px 10px 0 10px;
    background-color: rgba(29, 33, 25, 0.8);
  }

  #comment-submit-form {
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
  }

  #comment-submit-btn {
    width: 30%;
    margin: 10px;
  }

  .comment-entry {
    margin: 10px;
    resize: none;
    font-size: .8em;
  }

  .comment {
    background-color: #ffffff;
    margin: 5px;
    border: 1px solid #0ca2a4;
  }

  .comment-body {
    font-size: .8em;
    margin-top: 0;
    padding: 5px;
  }

  .comment-bottom-container {
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: #1d2123;
    color: #eaffff;
  }

  .comment-delete-btn {
    position: absolute;
    right: 5px;
    top: -8px;
  }

  .user-button {
    border: none;
    font-size: .6em;
    background-color: #1d2123;
    color: #e7ffc1;
  }

  .user-button:hover {
    color: #ff5166;
  }

  .comment-info {
    font-weight: 100;
    padding: 3px;
    /*font-size: em;*/
  }

  /*================FORMS STUFF===============*/
  .form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
  }

  .form {
    max-width: 50%;
    margin: 15px auto;
    display: flex;
    flex-direction: column;
  }

  .form-input {
    margin: 5px auto;
    color: #231c18;
    font-size: 1em;
  }

  .form-input:focus {
    background-color: #e7ffc1;
  }

  .outset {
    border-style: groove;
  }

  .inset {
    border-style: inset;
  }

  .rounded {
    border-radius: 4px;
  }

  .text-area {
    font-size: .8em;
    resize: none;
  }

  .user-submit-btn {
    background: url('../images/diagmonds.png');
    color: #ffffff;
    font-size: 1em;
  }

  .user-submit-btn:hover {
    color: #e7ffc1;
    text-shadow: 2px 2px 1px #065051;
  }

  .sticky {
    z-index: 10;
    position: fixed;
    top: 0;
  }

  #user-links-container {
    font-family: 'Slim-Joe', 'sans-serif';
    display: flex;
    flex-direction: row;
    z-index: 11111;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
  }

  /*============FILE UPLOADING==============*/
  #upload-container {
    margin: 10px;
    max-width: 30%;
    background-color: #1d2123;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid red;
  }

  #links {
    height: 128px;
    width: 128px;
    border: 1px dashed #ffffff;
    border-radius: 50%;
    overflow: hidden;
    margin: 5px auto;
  }

  .image-upload-button {
    border-radius: 8px;
    background-color: #1d2123;
    color: #E7FFC1;
    border: 1px solid red;
    margin: 5px;
    padding: 5px;
  }

  #upload-button-container {
    display: flex;
    flex-direction: row;
    margin: 5px auto;
  }

  #temp-display {
    z-index: 10;
  }
}

/*===========ANIMATIONS============*/
.rotate {
  animation-name: rotate;
  animation-duration: .5s;
}

.stick-right {
  transform: rotate(90deg);
}

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(90deg);}
}

.unrotate {
  animation-name: unrotate;
  animation-duration: .5s;
}

@keyframes unrotate {
  0% {transform: rotate(90deg);}
  100% {transform: rotate(0deg);}
}

.retract-menu {
  animation-name: retract-menu;
  animation-duration: .5s;
}

@keyframes retract-menu {
  0% {top: 250px;}
  100% {top: -95px;}
}

.drop-menu {
  animation-name: drop-menu;
  animation-duration: .5s;
}

@keyframes drop-menu {
  0% {top: -95px;}
  100% {top: 250px;}
}

/*===========TABLET BREAK POINT===========*/
@media only screen and (min-device-width : 768px) {
  html, body {
    font-size: 1em;
  }
}