<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
  <meta charset="UTF-8"/>
  <title th:text="${title}"></title>
  <link rel="stylesheet" href="style.css"/>
  <script
          src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous">
  </script>
</head>

<body>
  <div th:fragment="nav-bar">
    <ul id="nav-items-container">
      <li class="nav-item">Home</li>
      <li class="nav-item">Posts</li>
      <li class="nav-item" th:if="${not_logged_in}">Login</li>
    </ul>
  </div>
</body>

<footer th:fragment="footer" id="footer">
  <div>Testing</div>
</footer>
<script th:fragment="script" src="logic.js"></script>
</html>

